<!DOCTYPE html>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar1" style="background-color:black">
        <ul class="nav navbar-nav">
            <li><a href="~/SachOnline/Index">SachOnline</a> </li>
            <li class="active"><a href="#">TRANG CHỦ</a> </li>
            <li><a href="#">GIỚI THIỆU</a> </li>
            <li><a href="#">LIÊN HỆ</a> </li>

        </ul>


        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                @Html.ActionLink("Đăng ký", "Dangky", "NguoiDung")
            </li>
            <li>@Html.ActionLink("Đăng nhập", "Dangnhap", "NguoiDung")</li>
            <li class="nav-item">
                <a href="@Url.Action("GioHang","GioHang")">
                    Giỏ Hàng
                </a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Sách Mới", "Index", "SachOnline")
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm" name="data">
            </div>
            <button type="submit" class="btn btn-default">Tìm</button>
        </form>
    </div>
    @RenderBody()
    <!-- /.navbar-collapse -->
</body>
</html>