@model PagedList.PagedList<SachOnline.Models.Book>
@using SachOnline.Models;
@using PagedList.Mvc;

@{
    ViewBag.Title = "SachTheoNhaXuatBan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 class="text-center">SÁCH THEO NHÀ XUẤT BẢN</h2>
<hr />
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/@sach.AnhBia" alt=" @sach.NameBook" class="img-responsive img-rounded imgbook" />
                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("ChiTietSach","SachOnline",new {id = sach.BookID  })">
                            @sach.NameBook
                        </a>
                    </h4>

                    <p>
                    <p class="giaban" style="padding-left:49px;">Giá Bán: <span style="color:cornflowerblue;">@Html.FormatValue(sach.GiaBan, "{0:#,##0}") VNĐ</span></p>
                    <a href="@Url.Action("ThemGioHang","GioHang" ,new {ms = sach.BookID,url = Request.Url.ToString()})" class="btn btn-primary" role="button">
                        <span class="glyphicon plyphicon-shopping-cart" aria-hidden="true"></span>
                        Add to Cart
                    </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@*Tạo liên kết các trang*@
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SachTheoChuDe", new { id = ViewBag.MaCD, page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>
